._*
/day5/build/okno2/Analysis-00.toc
/day5/build/okno2/base_library.zip
/day5/build/okno2/BUNDLE-00.toc
/day5/build/okno2/EXE-00.toc
/day5/build/okno2/okno2.pkg
/day5/build/okno2/PKG-00.toc
/day5/build/okno2/PYZ-00.pyz
/day5/build/okno2/PYZ-00.toc
/day5/build/okno2/warn-okno2.txt
/day5/build/okno2/xref-okno2.html
/day5/dist/okno2.app/Contents/_CodeSignature/CodeResources
/day5/dist/okno2.app/Contents/MacOS/okno2
/day5/dist/okno2.app/Contents/Resources/icon-windowed.icns
/day5/dist/okno2.app/Contents/Info.plist
/day5/dist/okno2
/day5/okno2.spec
